
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://linkedin.com/in/rashed-al-qatarneh-9750b0239/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/RashedHaitham" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <span id="current-year"></span>
        &copy;
        <span style="color: gray;">University Of Jordan Graduation Project</span>
    </div>
  </footer>


<script src="/js/main.js"></script>
<script src="/js/chatbox.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/mdb.min.js"></script>
</body>

</html>